<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Manage Codenames Words</title>
    <meta name="description" content="Manage Codenames Words">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/manage-words.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Words
      </h1>
    </header>

    <main>      
      <form>
        <input name="word" aria-label="a new word" type="text" maxlength="100" placeholder="words!">
        <button type="submit" id="submit-word">Submit word</button>
      </form>
      <br>
      <span>Just click a word to delete</span>
      <section class="words">
        <ul id="words"></ul>
      </section>
      
    </main>
    <a href="/">Back to Game</a>
  </body>
</html>
