<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Splinter Bid</title>
    <meta name="description" content="Splinter Bid" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="../public/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="../public/js/table.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Splinter Bid</h1>
      <p>End bidding with three consecutive passes to play with the cards.</p>
    </header>

    <main>
      <section id="board" class="board">
        <div id="top" class="hand"></div>
        <div class="middle">
          <div id="left" class="left"></div>
          <div class="center">
            <div id="bids" class="bids">
              <div class="bids-wrapper">
                <div class="bids-header">
                  <h3 class="bid-title">Bids</h3>
                  <div class="quarter direction north">North</div>
                  <div class="quarter direction east">East</div>
                  <div class="quarter direction south">South</div>
                  <div class="quarter direction west">West</div>
                </div>
                <div class="the-bids"></div>
              </div>
              <div class="bidding-panel">
                <button value="1" class="one bid bid-1">1</button>
                <button value="2" class="two bid bid-2">2</button>
                <button value="3" class="three bid bid-3">3</button>
                <button value="4" class="four bid bid-4">4</button>
                <button value="5" class="five bid bid-5">5</button>
                <button value="6" class="six bid bid-6">6</button>
                <button value="7" class="seven bid bid-7">7</button>
                <button value="pass" class="pass bid bid-pass">pass</button>
                <button value="C" class="clubs bid suit bid-c">C</button>
                <button value="D" class="diamonds bid suit bid-d">D</button>
                <button value="H" class="hearts bid suit bid-h">H</button>
                <button value="S" class="spades bid suit bid-s">S</button>
                <button value="NT" class="nt bid bid-nt">NT</button>
                <button value="double" class="dbl bid bid-double">
                  double
                </button>
                <button value="redouble" class="rdbl bid bid-redouble">
                  redouble
                </button>
              </div>
            </div>
            <div class="target"></div>
          </div>
          <div id="right" class="hand"></div>
        </div>
        <div id="bottom-left">
        </div>
        <div id="bottom" class="hand"></div>
      </section>
    </main>
  </body>
</html>
