<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Splinter Bid</title>
    <meta name="description" content="Splinter Bid" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="./public/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="./public/examples/game-state-example.js" defer></script>
    <script src="./public/helpers.js" defer></script>
    <script src="./public/table.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Splinter Bid</h1>
    </header>

    <main>
      <section class="board">
        <div class="top">
        </div>
        <div class="left"></div>
        <div class="center"></div>
        <div class="right"></div>
        <div class="bottom">
        </div>
      </section>
    </main>
  </body>
</html>
