<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Splinter Bid</title>
    <meta name="description" content="Splinter Bid" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="./public/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="./public/game-state-example.js" defer></script>
    <script src="./public/helpers.js" defer></script>
    <script src="./public/index.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Splinter Bid</h1>
    </header>

    <main>
      <section class="board">
        <div class="top left">
          <div class="room_id">
            Room ID:
            <a href="http://127.0.0.1:5000/trusty-beaver-guts"
              >trusty-beaver-guts</a
            >
          </div>
          <div class="contract">South in 4♠</div>
          <div class="vulnerability">Not Vulnerable</div>
        </div>
        <div class="top center your-partner is-dummy">
        </div>
        <div class="top right"></div>
        <div class="left"></div>
        <div class="middle"></div>
        <div class="right"></div>
        <div class="bottom you">
        </div>
      </section>
    </main>
  </body>
</html>
