/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
  background-image: url(https://cdn.glitch.com/85f6c2b6-fc7a-4f3a-b4bd-234cef0b17a2%2F45-degree-fabric-light.png?v=1586731029524);
}

h1 {
  font-style: italic;
  color: black;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

form {
  background-color: #eee;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
}

form button:hover {
  background-color: lavender;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}

#cards {
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(5, 100px);
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
}

#cards > div {
  background-image: url(https://cdn.glitch.com/85f6c2b6-fc7a-4f3a-b4bd-234cef0b17a2%2F45-degree-fabric-light.png?v=1586731029524);
  background-color: #eacda3;
  opacity: 0.8;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  text-align: center;
}

.card {
  border: 3px solid black;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card:hover {
  cursor: pointer;
}

#cards .card.red.clicked {
  background-color: #eb3349;
}

#cards .card.blue.clicked {
  background-color: #2193b0;
}

#cards .card.innocent.clicked {
  background-color: #ffc3a0;
}

#cards .card.assassin.clicked {
  background-color: black;
  color: white;
}

#cards .card.bled.clicked {
  background: linear-gradient(to bottom left, #2193b0 50%, #eb3349 50%), url(https://cdn.glitch.com/85f6c2b6-fc7a-4f3a-b4bd-234cef0b17a2%2F45-degree-fabric-light.png?v=1586731029524);;
}

button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
  margin-top: 10px;
}

button:hover {
  background-color: lavender;
}

#words li:hover {
  cursor: pointer;
}