@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

* {
  box-sizing: border-box;
  letter-spacing: 0.4px;
  font-family: "Syne Mono", monospace;
}
hr {
  margin: 0;
}
h1 {
  display: inline-block;
  background-color: rgba(235, 235, 235, 0.8);
  margin: 0;
  font-family: "Syne Mono", monospace;
}
body {
  /* background-image: url("./img/table.jpg"); */
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
}
a.svg-anchor-tag {
  position: fixed;
  display: inline-block;
  width: 200px;
  display: inline-block;
  top: 50%;
  left: 200px;
}
a.svg-anchor-tag:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
object.create-table {
  width: 100%;
}
.splinter-bid-marquee {
  width: 50%;
  position: fixed;
  left: 30%;
}
.splinter-bid-marquee:hover {
  cursor: pointer;
}
.join-table-form {
  width: 35%;
  position: fixed;
  left: 35%;
  bottom: 5%;
}
.board {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
} 
.middle {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.hand,
.center {
  height: auto;
  width: 50%;
  float: left;
  padding: 4px 5px;
  margin: 2px;
  padding: 30px;
}
#bottom {
  width: 50%;
  /* margin: 0 auto; */
  position: relative;
  text-align: center;
  perspective: 1000px;
}
#top {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}
#right,
#left {
  width: 22%;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-height: 50vh;
}
.target {
  height: 115px;
  width: 115px;
  border: 1px solid black;
}
.card {
  width: 115px;
  height: 165px;
  position: relative;
  display: inline-block;
  margin: -30px -40px -30px -40px;
  transition: 0.2s all;
}
.front,
.back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 0 5px #EEE);
  border-radius: 12px;
  backface-visibility: hidden;
  transition: all 0.2s;
}
.front {
  background-image: url(https://assets.codepen.io/1579014/card-sprite.png);
  background-size: 440%;
}
.back {
  transform: rotateY(-180deg);
  background-image: url(https://assets.codepen.io/1579014/card-sprite.png);
  background-position: -22px -2310px;
  background-size: 440%;
}
#left .front,
#right .front,
#top .front {
  transform: rotateY(180deg);
}
#left .back,
#right .back,
#top .back {
  transform: rotateY(0deg);
}
.once {
  z-index: 1;
}
#board .bottom .once {
  transform: translateY(-10px);
}
#board .once .front {
  transform: rotateY(0deg);
}
#board .once .back {
  transform: rotateY(180deg);
}
.card:hover {
  cursor: pointer;
  background-color: rgba(235, 0, 0, 0.4);
}
/* two of clubs */
.clubs-0 .front {
  background-position: -21px -12px;
}
/* three of clubs, etc. */
.clubs-1 .front {
  background-position: -21px -177px;
  margin-right: -50px;
}
.clubs-2 .front {
  background-position: -21px -345px;
}
.clubs-3 .front {
  background-position: -21px -492px;
  background-size: 420%;
}
.clubs-4 .front {
  background-position: -21px -691px;
}
.clubs-5 .front {
  background-position: -16px -863px;
}
.clubs-6 .front {
  background-position: -17px -980px;
  background-size: 420%;
}
.clubs-7 .front {
  background-position: -16px -1204px;
}
.clubs-8 .front {
  background-position: -15px -1288px;
  background-size: 409%;
}
.clubs-9 .front {
  background-position: -21px -1574px;
}
.clubs-10 .front {
  background-position: -18px -1685px;
  background-size: 420%;
}
.clubs-11 .front {
  background-position: -18px -1953px;
}
/* Ace of Clubs */
.clubs-12 .front {
  background-position: -18px -2126px;
}

.diamonds-0 .front {
  background-position: -142px -12px;
}
.diamonds-1 .front {
  background-position: -142px -177px;
}
.diamonds-2 .front {
  background-position: -140px -345px;
}
.diamonds-3 .front {
  background-position: -132px -492px;
  background-size: 420%;
}
.diamonds-4 .front {
  background-position: -142px -691px;
}
.diamonds-5 .front {
  background-position: -142px -863px;
}
.diamonds-6 .front {
  background-position: -132px -984px;
  background-size: 420%;
}
.diamonds-7 .front {
  background-position: -142px -1204px;
}
.diamonds-8 .front {
  background-position: -126px -1288px;
  background-size: 409%;
}
.diamonds-9 .front {
  background-position: -142px -1574px;
}
.diamonds-10 .front {
  background-position: -134px -1685px;
  background-size: 420%;
}
.diamonds-11 .front {
  background-position: -142px -1953px;
}
.diamonds-12 .front {
  background-position: -142px -2126px;
}

.hearts-0 .front {
  background-position: -259px -12px;
}
.hearts-1 .front {
  background-position: -263px -177px;
}
.hearts-2 .front {
  background-position: -263px -345px;
  /* top: -100px; */
}
.hearts-3 .front {
  background-position: -245px -492px;
  background-size: 420%;
}
.hearts-4 .front {
  background-position: -259px -691px;
}
.hearts-5 .front {
  background-position: -259px -863px;
}
.hearts-6 .front {
  background-position: -248px -993px;
  background-size: 423%;
}
.hearts-7 .front {
  background-position: -259px -1204px;
}
.hearts-8 .front {
  background-position: -259px -1391px;
  /* background-size: 433%; */
}
.hearts-9 .front {
  background-position: -245px -1502px;
  background-size: 420%;
}
.hearts-10 .front {
  background-position: -254px -1727px;
  background-size: 430%;
}
.hearts-11 .front {
  background-position: -257px -1953px;
}
.hearts-12 .front {
  background-position: -259px -2127px;
}
.spades-0 .front {
  background-position: -375px -12px;
}
.spades-1 .front {
  background-position: -378px -178px;
}
.spades-2 .front {
  background-position: -377px -349px;
}
.spades-3 .front {
  background-position: -377px -522px;
}
.spades-4 .front {
  background-position: -377px -691px;
}
.spades-5 .front {
  background-position: -377px -861px;
}
.spades-6 .front {
  background-position: -377px -1034px;
}
.spades-7 .front {
  background-position: -377px -1204px;
}
.spades-8 .front {
  background-position: -377px -1391px;
}
.spades-9 .front {
  background-position: -359px -1504px;
  background-size: 420%;
}
.spades-10 .front {
  background-position: -358px -1686px;
  background-size: 420%;
}
.spades-11 .front {
  background-position: -355px -1862px;
  background-size: 420%;
}
.spades-12 .front {
  background-position: -360px -2032px;
  background-size: 420%;
}


#bids {
  width: 90%;
  height: 95%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #eee;
  filter: drop-shadow(0 0 5px #EEE);
  z-index: 2;
  display: flex;
  border: 1px solid silver;
}
#board .minimized .bidding-panel {
  display: none;
}
#board .minimized .bids-wrapper {
  width: 100%;
} 
#board #bottom-left {
  position: relative;
  width: 25%;
  /* height: 150px; */
  /* clear: both; */
  /* height: 0; */
}
#board #bids.minimized {
  top: 0;
  left: 0;
  position: absolute;
  height: 150px;
}
#bids .bidding-panel {
  width: 37%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid black; */
  background: silver;
}

.bid {
  min-width: 15%;
  text-align: center;
  font-size: 25px;
  color: transparent;
  height: 45px;
  background-position: -8px -3px;
  margin-right: 2px;
  background-color: white;
}
button:disabled,
button[disabled] {
  opacity: .8;
}
.bid:hover {
  cursor: pointer;
}
.pass {
  background: #eee;
}
.suit, .nt {
  width: 20%;
  background: white;
}
.bid.hearts, .bid.diamonds {
  background-color: hsl(0deg 100% 90%);
}
.dbl, .rdbl, .pass {
  filter: invert(1);
  background-color: white;
}
.pass {
  width: 50%;
}
.bid-title {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.quarter {
  width: 25%;
  float: left;
  text-align: center;
  border-bottom: 1px solid silver
}
.bids-wrapper {
  width: 62%;
  overflow: scroll;
}
.bids-header {
  width: 100%;
  height: auto;
}
.bid {
  background-image: url("https://assets.codepen.io/1579014/bids.png");
  background-size: 475px;
  background-repeat: no-repeat;
  height: 45px;
  background-position: 0px -4px;
  margin-right: 2px;
  padding: 0;
  width: 45px;
}
.two {
  background-position: -37px -2px;
}
.three {
  background-position: -70px -1px;
}
.four {
  background-position: -103px 0px;
}
.five {
  background-position: -137px 1px;
}
.six {
  background-position: -178px 1px;
  width: 30px;
}
.seven {
  background-position: -205px -3px;
}
.pass {
  background-position: -391px -1px;
  width: 74px;
}

button.pass.bid {}
.bid.clubs {
  background-position: 0px -29px;
  background-size: 260px;
}
.bid.diamonds {
  background-position: -59px -29px;
  background-size: 300px;
}
.bid.hearts {
  background-position: -118px -31px;
  background-size: 300px;
}
.bid.spades {
  background-position: -157px -36px;
  background-size: 283px;
}
.bid.nt {
  background-position: -224px -33px;
  background-size: 292px;
  width: 65px;
}
.bid.dbl {
  background-position: -250px -3px;
  width: 66px;
}
.bid.rdbl {
  background-position: -313px -3px;
  width: 80px;
}